.category-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    margin: 100px;
  }
  
  .card {
    width: 45%;
    cursor: pointer;
    transition: transform 0.2s;
    border: none; /* Optional: removes card border */
    overflow: hidden; /* Ensures images do not overflow card */
    margin-top: 20px; /* Adds top margin to each card */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    width: 100%; /* Full width of the card */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image covers the area */
  }
  
  .card-body {
    text-align: center;
  }
  