/* LoginPage.css */

/* Container for the login page */
.login-container {
    background-color: #f5f7fa;
    width: 100%;
    min-height: 100vh; /* Ensure container takes full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding-top: 3rem; /* Add top padding to create space from the top */
}

/* Box for the login form */
.login-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 700px; /* Set a max-width for better fit */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the link to the registration page */
.login-box a {
    color: #007bff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

/* Styling for the link to the registration page */
.text-center p {
    margin: 0;
}
.login-box
{
    padding: 100px;
    margin:  0px 100px;
}